.comments .comGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdac16b;
    width: -webkit-fill-available;
    margin-top: 1rem;
    flex-direction: column;
    align-content: flex-start;
    padding: 1rem 2rem;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-size: 1.25rem;
}

.comments p {
    margin: 1rem 0;
    transition: opacity 2s ease ;
    text-align: center;
}

.comments span {
    font-weight: 800;
    font-size: 1.25rem;
    transition: opacity 2s ease ;
}