* {
    margin: 0;
}

html {
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.headerCont {
    background-color: rgb(255 103 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

main {
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

section{
    padding: 1rem 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#logoImg {
    padding: 0.5rem 0.5rem;
    margin: 0.2rem 0;
}

.navLink {
    padding: 0 1rem;
    font-size: .8rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

.navLink:hover, #homeLink:hover {
    opacity: 0.5;
}

#quienesSomos {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffecdf;
    padding-top: 1rem;
    flex-direction: row;
    padding-bottom: 0;
    justify-content: center;
    align-items: flex-end;
}

.servTile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 29%;
    margin: 1rem;
    min-width: 300px;
}

.servImg {
    width: 100%;
}

.servGrid, .promGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.serTitle, .pedirCupon {
    text-align: center;
    background-color: rgb(255 103 1);
    color: #ffffff;
    font-weight: 700;
    padding: 0.25rem 0;
    width: 100%;
}

.servDes {
    color: #494949;
    font-size: 0.7rem;
    padding: 0.4rem 0;
    line-height: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    width: 100%;
}

.sectionTitle {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(255 140 63);
}

.promTile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 29%;
    margin: 1rem;
    min-width: 300px;
}

.promImg {
    width: 100%;
}

.pedirCupon:hover {
    background-color: #c54f00;
}

.contactoContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    justify-content: space-around;
    width: 100%;
}

.mapa {
    margin: 0 1rem;
}

.datosWengine {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1rem;
}

.datosWengine>span {
    padding: 0.25rem 0;
    font-family: 'Quicksand', sans-serif;
    color: #494949;
}

.orange {
    color: rgb(255 103 1);
}

.redesLogo {
    height: 70px;
    width: 70px;
}

.redesWengine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 0;
}

footer{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    background-color: #494949;
    color: #ffffff;
}

.qsText {
    font-family: 'Quicksand', sans-serif;
    width: 50%;
    padding: 1rem 0;
}

#qsImg {
    width: 80%;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.strong {
    font-weight: 600;
}

#arrowCont {
    position: absolute;
    right: 43px;
    top: 30px;
}

.arrow {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: #cdcdcd;
    border-radius: 3px;
}
    

.arrow:first-child{
    transform-origin: 0% 0%;
}

.arrow:nth-last-child(2){
    transform-origin: 0% 100%;
}




/* Media rules */
@media (max-width: 480px) {
    #qsImg {
        height: 0;
    }
    .qsText {
        width: 100%;
    }
    .servGrid, .promGrid, iframe {
        max-width: 300px;
    }
    .formContacto {
        padding-top:1rem
    }

    /* Responsive navigation links */
    .linksContainer {
        height: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        right: -180px;
    }

    .active {
        height: 90px;
    }

    .navLink {
        display: none;
    }
}